{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Page not found{% endblock %}

{% block content %}
<article class="page">
    <h1>Page not found</h1>

    <p>
    The page you were looking for could not be found. You might want to <a href="{% url "index" %}">go back to the home
      page</a> and try navigating from there.
    </p>
</article>
{% endblock %}
