{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {{ request.site.name }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/icons/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/icons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/icons/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "images/icons/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "images/icons/safari-pinned-tab.svg" %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static "images/icons/favicon.ico" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static "images/icons/browserconfig.xml" %}">
        <meta name="theme-color" content="#ffffff">

        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <script src="{% static "js/main.js" %}"></script>

        <!-- I hate this -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51110-31"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-51110-31');
        </script>
    </head>
    <body>
        {% block navbar %}
        {% include "navbar.html" with nav=False %}
        {% endblock %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <section class="content">
            {% block content %}
            {% endblock %}
        </section>

        <footer>

            <p class="faq">
                Questions? Visit our <a href="{% url "faq" %}">FAQ</a> or <a
                    href="https://codeshelter.zulipchat.com/">join our chat server</a>.
            </p>

            <p class="icons">
                <a href="https://twitter.com/code_shelter" title="Our Twitter account"><i class="fab fa-twitter"></i></a>
                <a rel="me" href="https://mastodon.host/@codeshelter" title="Our Mastodon account"><i class="fab fa-mastodon"></i></a>
                <a href="https://codeshelter.zulipchat.com/" title="Our chat server"><i class="fas fa-comments"></i></a>
                <a href="https://gitlab.com/codeshelter/codeshelter-web" title="The Gitlab repository for Code Shelter Web"><i class="fab fa-gitlab"></i></a>
            </p>

        </footer>
    </body>
</html>
