{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Welcome!{% endblock %}

{% block navbar %}{% include "navbar.html" with logo=False hamburger=False %}{% endblock %}

{% block content %}
<article class="landing">
    <section class="hero">
        <div class="leader">
            <img src="{% static "images/logo.svg" %}" />
        </div>

        <h1>{{ current_site.name }}</h1>

        <p class="content-lead">
        {{ current_site.name }} is a collective of volunteer software developers that aims to help with maintaining
        popular open source projects whose authors need a hand or don't have the time to maintain them any more.
        </p>
        <p>
        <br />
        We do that by matching volunteer maintainers with projects that need help.
        If you want to learn more, or just to say hi, come
        <a href="https://codeshelter.zulipchat.com/" target="_blank">chat with us</a>!
        </p>
    </section>

    <section class="actions">
        <div>
            <p>Do you need help<br/>maintaining a project?</p>
            <a href="{% url "project-add" %}" class="button add-project">Add a project to<span>the shelter</span></a>
        </div>

        <div>
            <p>Do you love open source<br/>and want to help out?</p>
            <a href="{% url "maintainer-application" %}" class="button add-project">Become a<span>maintainer</span></a>
        </div>

        <div>
            <p>Do you need OSS advice or<br/>just want to talk to us?</p>
            <a href="https://codeshelter.zulipchat.com/" class="button add-project">Join our<span>chat server</span></a>
        </div>
    </section>

    <section class="more-information">
        <section><div><p>All of our maintainers are vetted, experienced software developers with significant contributions to open source.</p></div></section>

        <section><div><p>We will try our best to maintain your project in the same direction as you, and you will always be credited appropriately.</p></div></section>

        <section><div><p>We will handle issues, merge pull requests and make new releases for your project, while you remain in control.</p></div></section>
    </section>

    <section class="maintainer-list">
        <h2><a href="{% url "maintainers" %}">The maintainers</a></h2>

        <ul>
            {% for maintainer in maintainers %}
            <li>
            <a href="{{ maintainer.github_url }}"><img src="{{ maintainer.avatar }}" /></a>
            <span class="maintainer-name">{{ maintainer.get_full_name }}</span>
            </li>
            {% endfor %}

            <li class="you">
            <a href="{% url "maintainers" %}" title="View all maintainers">&#8230;</a>
            </li>
        </ul>
    </section>

    <section class="maintainer-list">
        <h2><a href="{% url "contributors" %}">The contributors</a></h2>

        <ul>
            {% for contributor in contributors %}
            <li>
            <a href="{{ contributor.github_url }}"><img src="{{ contributor.avatar }}" /></a>
            <span class="maintainer-name">{{ contributor.get_full_name }}</span>
            </li>
            {% endfor %}

            <li class="you">
            <a href="{% url "contributors" %}" title="View all contributors">&#8230;</a>
            </li>
        </ul>
    </section>

    <section class="projects">
        <h2><a href="{% url "projects" %}">Adopted projects</a></h2>

        <ul class="adopted-projects">
            {% for project in projects %}
            {% include "project.html" with hide_maintainers=True %}
            {% endfor %}
        </ul>

        <p class="more">
           <a href="{% url "projects" %}">Show more...</a>
        </p>

    </section>

</article>
{% endblock %}
