{% extends "base.html" %}

{% block title %}The people{% endblock %}

{% block navbar %}{% include "navbar.html" with hamburger=False %}{% endblock %}

{% block content %}
<h1>The maintainers</h1>

<h2 class="header">These are the heroes who keep open source alive.</h2>

<article class="maintainer-list">
    {% for maintainer in maintainers %}
    <figure>
        {% if maintainer.github_url %}
        <a href="{{ maintainer.github_url }}">
        {% else %}
        <em>
        {% endif %}
        <img src="{{ maintainer.avatar }}" />
        {% if maintainer.get_full_name %}
        <figcaption>
        <span>{{ maintainer.get_full_name }}</span>
        </figcaption>
        {% endif %}
        {% if maintainer.github_url %}
        </a>
        {% else %}
        </em>
        {% endif %}
    </figure>
    {% endfor %}
</article>
{% endblock %}
