{% load staticfiles emoji_tags %}

<li class="project">
    <h5>
        <a href="{{ project.repo_url }}">
            {% if project.is_github %}
            <i class="fab fa-github"></i>
            {% else %}
            <i class="fab fa-gitlab"></i>
            {% endif %}
            {{ project.short_name }}</a>
        <span>★ {% if project.stars %}{{ project.stars }}{% else %}0{% endif %}</span>
    </h5>

    {% if project.language %}<em>{{ project.language }}</em>{% endif %}

    <p>{{ project.description|emoji_replace }}</p>

    {% if not hide_maintainers %}
    <ul class="maintainers">

        {% if request.user.is_maintainer %}
            {% if project.is_github and request.user not in project.maintainers.all %}
            <li class="you">
                <form action="{% url "maintainer-add" project.id %}" method="post">{% csrf_token %}
                    <button title="Become a maintainer of this project">+</button>
                </form>
            </li>
            {% endif %}
        {% elif not request.user.is_contributor %}
        <li class="you">
            <a title="Become a maintainer of this project" href="{% url "maintainer-application" %}">+</a>
        </li>
        {% endif %}

        {% if project.is_gitlab %}
        <li class="maintainer">
            <img src="{% static "images/logo-square.svg" %}" />
            <span class="maintainer-name">Code Shelter</span>
        </li>
        {% else %}
        {% for maintainer in project.maintainers.all %}
        <li class="maintainer">
            <img src="{{ maintainer.avatar }}" />
            <span class="maintainer-name">{{ maintainer.get_full_name }}</span>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    {% endif %}
</li>
