{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Add a project to the Shelter{% endblock %}

{% block content %}
<article class="page">
    <h1>Add a project to the Shelter</h1>

    <section>
    <p>
        <h2>A four-step process:</h2>
        <ol>
            <li>Give us access to the repository.</li>
            <li>Give us access to releases.</li>
            <li>Tell us about your project's needs.</li>
            <li>Add our badge to the repo.</li>
        </ol>
    </p>
    </section>

    <section class="actions">
        <div>
          <a href="https://github.com/apps/code-shelter/" target="_blank" class="button add-project">
            <i class="fab fa-github"></i>
            Add a <span>Github project</span>
          </a>
        </div>

        <div>
          <a href="#gitlab-projects" class="button add-project">
            <i class="fab fa-gitlab"></i>
            Add a <span>Gitlab project</span>
          </a>
        </div>
    </section>

    <h2>How does this work?</h2>

    <p>
    Basically, you have nothing to lose by adding a project to the shelter. You are always in control, but you will have
    extra help from our members. They will be able to review and merge people's pull requests, fix bugs, address
    issues and create releases for your project. You an always revoke access to Code Shelter later, if you ever feel you
    need to.
    </p>

    <h2>Alright, how do I actually add the project to the Shelter?</h2>

    <section>
        <p>
        There are four steps you need to perform, in order of importance:
          <ol>
            <li><a href="#access-repo">Give us access to the repository.</a></li>
            <li><a href="#access-releases">Give us access to releases.</a></li>
            <li><a href="#project-needs">Tell us about your project's needs.</a></li>
            <li><a href="#badge-repo">Add our badge to the repo.</a></li>
          </ol>
        </p>

        <h2 id="access-repo">Step 1: Access to the repository</h2>

        <h3>GitHub projects</h3>
        <p>
        If your project is hosted on GitHub, <a href="https://github.com/apps/code-shelter/">go to our GitHub app page</a>,
        select the repository or repositories you want, and you're done.
        </p>

        <p>
        Another alternative would be to transfer the project completely to the "<code><a
                href="https://github.com/code-shelter">code-shelter</a></code>" organization (mind the hyphen). This is
                irreversible, and will give Code Shelter ownership of the project.
        </p>

        <h3 id="gitlab-projects">GitLab projects</h3>
        <p>
        If your project is hosted on GitLab, go to your "Project members" page,
        (<code>https://gitlab.com/&lt;username&gt;/&lt;projectname&gt;/project_members</code>), click "Invite group", search
        for the "<code><a href="https://gitlab.com/codeshelter/">codeshelter</a></code>" group, and invite it with
        "Maintainer" access level and no expiration date. Or, if you like, you can simply transfer your project to the group
        completely (this is irreversible).
        </p>

        <p>
        That's it, the project will show up in the Shelter soon!
        </p>

        <h2 id="access-releases">Step 2: Access to releases</h2>
        <p>
        After giving us access to the repository, we'll also need access to the package registry. This step is optional, so
        you can skip it if you want to be the only one to make releases, but that's not recommended as it decreases the
        <a href="https://en.wikipedia.org/wiki/Bus_factor">bus factor</a>.
        </p>

        <p>
        Instructions for this step depend on the specific registry, but here are the steps for some common ones. Remember
        that you <strong>need</strong> to complete the following process for us to be able to make releases for your
        project.
        </p>

        <h3>PyPI</h3>
        <p>
        Go onto your project's management page, in the "collaborators" section
        (<code>https://pypi.org/manage/project/&lt;project&gt;/collaboration/</code>), and add the "codeshelter" user as an
        owner. This is important, as we need to be able to programmatically add other maintainers via that user. That's it.
        </p>

        <h3>NPM</h3>
        <p>
        Run <code>npm add owner codeshelter</code> on your project, which will add the Code Shelter as an owner on the NPM
        package.
        </p>

        <h3>Rubygems</h3>
        <p>
        Run <code>gem owner --add team@codeshelter.co yourgem</code> where "yourgem" is the name of your gem, which will add
        the Code Shelter as an owner on the gem.
        </p>

        <h3>Others</h3>
        <p>
        If your package registry isn't one of the above, please <a
          href="https://gitlab.com/codeshelter/codeshelter/issues">open an issue on our issue tracker</a> so we can figure
        it out.
        </p>

        <h2 id="project-needs">Step 3: Tell us about your project's needs</h2>
        <p>
        We'd be happy to know why you're adding the project to {{ current_site.name }}. Do you need someone else to take
        over, do you need more hands because it's overwhelming, or do you just need some advice?
        </p>
        <p>
        Please take a second to join <a href="https://codeshelter.zulipchat.com/">our chat server</a> (you can log in with
        Google or GitHub) to tell us more about your project's needs. Filling out and adding the <a
          href="https://gitlab.com/codeshelter/note-to-maintainers">note to maintainers</a> to your repository would also be
        very helpful for new maintainers to have an idea of what you're looking for.
        </p>

        <h2 id="badge-repo">Bonus step 4: Add our badge to the repo</h2>
        <p>
        To help members discover your project, you can put <a href="{% url "faq" %}">one of our badges</a> in your README:

        <pre>[![Code Shelter](https://{{ current_site.domain }}/static/badges/badge-flat.svg)](https://{{ current_site.domain }}/)</pre>
        </p>
    </section>
</article>
{% endblock %}
