<!doctype html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head><title>New {{ current_site.name }} projects</title><!--[if !mso]><!-- --><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]--><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1"><style type="text/css">#outlook a { padding:0; }
          .ReadMsgBody { width:100%; }
          .ExternalClass { width:100%; }
          .ExternalClass * { line-height:100%; }
          body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }
          table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }
          img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }
          p { display:block;margin:13px 0; }</style><!--[if !mso]><!--><style type="text/css">@media only screen and (max-width:480px) {
            @-ms-viewport { width:320px; }
            @viewport { width:320px; }
          }</style><!--<![endif]--><!--[if mso]>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        <![endif]--><!--[if lte mso 11]>
        <style type="text/css">
          .outlook-group-fix { width:100% !important; }
        </style>
        <![endif]--><!--[if !mso]><!--><link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css"><style type="text/css">@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);</style><!--<![endif]--><style type="text/css">@media only screen and (min-width:480px) {
        .mj-column-per-100 { width:100% !important; max-width: 100%; }
      }</style><style type="text/css">@media only screen and (max-width:480px) {
      table.full-width-mobile { width: 100% !important; }
      td.full-width-mobile { width: auto !important; }
    }</style></head><body style="margin-top: 20px; background-color: #f3f3f3;"><div style="background-color:#f3f3f3;"><!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]--><div style="background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"><table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"><tbody><tr><td style="border-top:8px solid #5c4b7c;direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;"><!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]--><div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"><table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"><tbody><tr><td style="vertical-align:top;padding:0px;"><table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"><tr><td align="center" style="font-size:0px;padding:30px;word-break:break-word;"><table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"><tbody><tr><td style="width:120px;"><a href="https://{{ current_site.domain }}/" target="_blank" style="color: #5c4b7c; text-decoration: none;"><img alt="{{ current_site.name }} logo" height="120" src="https://{{ current_site.domain }}/static/images/icons/android-chrome-192x192.png" style="border:0;display:block;outline:none;text-decoration:none;height:120px;width:100%;" width="120"></a></td></tr></tbody></table></td></tr></table></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]--><div style="background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;"><table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;"><tbody><tr><td style="direction:ltr;font-size:0px;padding:0px;padding-bottom:20px;padding-top:10px;text-align:center;vertical-align:top;"><!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:600px;" ><![endif]--><div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"><table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"><tbody><tr><td style="vertical-align:top;padding:0px;"><table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"><tr><td align="left" style="font-size:0px;padding:0 25px;word-break:break-word;"><div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:1;text-align:left;color:#000000;"><h1 class="title" align="center" style="color: #5c4b7c; padding-bottom: 10px;">Welcome to {{ current_site.name }}</h1><p style="font-size: 17px; line-height: 1.25em;">Hello, hero.<br>Thank you for signing up to be a contributor. We appreciate your help, it's very much needed.</p><p style="font-size: 17px; line-height: 1.25em;">Here's how you can start helping:</p><ol><li style="font-size: 17px; line-height: 1.25em;"><a href="http://codeshelter.zulipchat.com/" style="color: #5c4b7c; text-decoration: none;">Join our chat server</a>. This is important, as that is our main method of communication.</li><li style="font-size: 17px; line-height: 1.25em;">Visit <a href="https://{{ current_site.domain }}{% url 'home' %}" style="color: #5c4b7c; text-decoration: none;">your projects dashboard</a>, pick one or more projects you like and start commenting on issues, fixing bugs, adding features and submitting PRs.</li><li style="font-size: 17px; line-height: 1.25em;">If you have extensive open source experience, please <a href="https://codeshelter.zulipchat.com/#narrow/stream/150752-maintainer-applications" style="color: #5c4b7c; text-decoration: none;">apply to become a maintainer</a>. Maintainers have commit access to repositories, but are otherwise identical to contributors.<br>If you don't want to become a maintainer, but need someone to merge your PRs or help with an issue, just <a href="https://codeshelter.zulipchat.com/#narrow/stream/186993-projects/topic/project-help" style="color: #5c4b7c; text-decoration: none;">post in the relevant chat topic</a> and a maintainer will help out as soon as possible.</li></ol><p style="font-size: 17px; line-height: 1.25em;">That's pretty much it! If you have any questions or suggestions, please don't hesitate to open a chat topic about it.</p><p style="font-size: 17px; line-height: 1.25em;">We're counting on you!<br>The {{ current_site.name }} community</p></div></td></tr><tr><td style="font-size:0px;padding:0px;word-break:break-word;"><!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="30" style="vertical-align:top;height:30px;"><![endif]--><div style="height:30px;">&nbsp;</div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr><tr><td align="center" style="font-size:0px;padding:0 25px;word-break:break-word;"><div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;line-height:1;text-align:center;color:#000000;"><a href="https://twitter.com/code_shelter" style="color: #5c4b7c; text-decoration: none;">Twitter</a> | <a href="https://mastodon.host/@codeshelter" style="color: #5c4b7c; text-decoration: none;">Mastodon</a> | <a href="https://{{ current_site.domain }}/account/" style="color: #5c4b7c; text-decoration: none;">Unsubscribe</a></div></td></tr><tr><td style="font-size:0px;padding:0px;word-break:break-word;"><!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="30" style="vertical-align:top;height:30px;"><![endif]--><div style="height:30px;">&nbsp;</div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></table></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></div></body></html>